# Node modules
node_modules/

# Environment variables
.env

# Logs
logs
*.log
npm-debug.log*

# OS-specific files
.DS_Store

project_review.txt
concatenate_project.txt
tts-cache/
llm-cache/
markdown_private/
markdown_test/

cache/
